<head>
    <link herf="StyleSheet.css" />
</head>
<body>
    <form method="post">
        <label for="firstYear">First Year</label>
        <input placeholder="first year" name="firstYear" />

        <label for="lastYear">Last Year</label>
        <input placeholder="last year" name="lastYear" />

        <button type="submit">Results</button>
    </form>
</body>
