<head>
    <link herf="StyleSheet.css" />
</head>
<body>
    <form method="post">
        <label for="studentName">Student Name</label>
        <input placeholder="Student Name" name="studentName" />

        <label for="studentAge">Student Age</label>
        <input placeholder="Student Age" name="studentAge" />

        <button type="submit">Creat Student</button>
    </form>
</body>